<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Employee
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  value="Yvonne C Garett"
                />
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  value="162gd90k0ni@meantinc.com"
                />
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Group</label>
                <input type="text" class="form-control" id="" value="n/a" />
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Manager</label>
                <input type="text" class="form-control" id="" value="n/a" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Type</label>
                <input
                  type="text"
                  class="form-control"
                  id=""
                  value="Technician"
                />
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">
              Edit Information
            </button>
            <!-- <button class="btn btn-secondary" type="button">Cancel</button> -->
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Recent Activity
        </div>
        <div class="card-body">
          <table
            class="table table-responsive-sm table-hover table-outline mb-0 table-middle-align"
          >
            <thead class="thead-light">
              <tr>
                <th>Photo</th>
                <th>Phone No</th>
                <th>Role</th>
                <th>Job Type</th>
                <th>Date & Time</th>
                <th>Note</th>

                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="avatar">
                    <img
                      src="assets/img/avatars/2.jpg"
                      class="img-avatar"
                      alt="admin@bootstrapmaster.com"
                    />
                  </div>
                </td>
                <td>
                  9856325874
                </td>
                <td>
                  Technician
                </td>
                <td>
                  Installation
                </td>
                <td>
                  Nov 21, 2019 3:00 PM
                </td>
                <td></td>
                <td>
                  Job Done
                </td>
              </tr>
              <tr>
                <td>
                  <div class="avatar">
                    <img
                      src="assets/img/avatars/1.jpg"
                      class="img-avatar"
                      alt="admin@bootstrapmaster.com"
                    />
                  </div>
                </td>
                <td>
                  9856325874
                </td>
                <td>
                  Manager
                </td>
                <td>
                  Repair
                </td>
                <td>
                  Nov 20, 2019 2:00 PM
                </td>
                <td></td>
                <td>
                  Job Done
                </td>
              </tr>
              <tr>
                <td>
                  <div class="avatar">
                    <img
                      src="assets/img/avatars/3.jpg"
                      class="img-avatar"
                      alt="admin@bootstrapmaster.com"
                    />
                  </div>
                </td>
                <td>
                  6589874589
                </td>
                <td>
                  Office Admin
                </td>
                <td>
                  Repair
                </td>
                <td>
                  Nov 20, 2019 2:00 PM
                </td>
                <td></td>
                <td>
                  Job Done
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
