.custom_p{
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
}
.custom_row{
    border-bottom: 1px solid lightgrey;
}
.custom_row1{
    margin-left: 20px;
    font-size: 22px;
    padding: 17px;
}
.custom_form{
    text-align: center;
    padding: 20px;
}
label{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 100;
}
input{
    width: 50%;
    height: 35px;
}
.col-12{
    margin: 15px 0px 20px 0px;
}
.custom_button{
    justify-content: center;
}