<div class="row custom_row">
  <p class="custom_p" > User</p>
</div>
<div class="row custom_row">
  <p class=" custom_row1" >Account</p>
</div>
<div class="row custom_form">
  <div class="col-12">
      <label>Name:</label>
      <input [(ngModel)]="name" >
  </div>

  <div class="col-12">
    <label>Contact:</label>
    <input [(ngModel)]="contact">
  </div>

  <div class="col-12">
    <label>Email: </label>
    <input [(ngModel)]="email" >
  </div>

  <!-- <div class="col-12">
    <label>Role:</label>
    <input [(ngModel)]="role">
  </div> -->


</div>
<div class="row custom_button">
  <!-- <button class="btn btn-success">Update</button> -->
</div>
