<!-- <div class="content-heading">
  <button class="btn btn-success" style="float: right;" (click)="onCreateTech()">Add Technician</button>
<button class="btn btn-success" style="float: right;" (click)="onCreateManager()">Add Manager</button>
Group Manager

</div>
<br/>
<div class="panel panel-default">
<div class="panel-heading">
  <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{userList?.length}}</strong> Managers</div>
  Group Manager List
</div>
<table class="table table-striped" [mfData]="userList" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
      <tr>
          <th style="width: 5%"></th>
          <th style="width: 5%" class="text-right">
              <mfDefaultSorter by="No">No.</mfDefaultSorter>
          </th>
          <th style="width: 20%" class="text-left">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="userType">User Type</mfDefaultSorter>
          </th>
      </tr>
  </thead>
  <tbody>
      <tr class="line-hover" *ngFor="let item of mf.data; let idx=index;">
          <td class="text-right"><span class="del-icon fa fa-trash" (click)="onDelete(item)" title="Delete Equipment"></span></td>
          <td class="text-right">{{item.No}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.userType}}</td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
      </tr>
  </tfoot>
</table>

<toaster-container [toasterconfig]="config"></toaster-container>

</div>

<modal #addDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
<modal-header>
  <h3>Add Manager</h3>
</modal-header>

<modal-body style="text-align:center;">
<div class="control-caption">Tech Manager List</div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{managerList?.length}}</strong> managers</div>
          Tech Manager List
      </div>
      <table class="table table-striped" [mfData]="managerList" #mfData="mfDataTable" [mfRowsOnPage]="10">
          <thead>
              <tr>
                  <th style="width: 5%" class="text-right">No.</th>
                  <th style="width: 10%">Name</th>
                  <th style="width: 10%">Email</th>
                  <th style="width: 10%">User Type</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="text-right"></td>
                  <td><input class="form-control" [(ngModel)]="searchOpt.name" (input)="onChangeValue('name',searchOpt.name)"></td>
                  <td><input class="form-control" [(ngModel)]="searchOpt.email" (input)="onChangeValue('email',searchOpt.email)"></td>
                  <td></td>
              </tr>
              <tr class="line-hover" *ngFor="let item of mfData.data; let idx=index;" (click)="onSelectManager(item)"
                  [class.selected]="item.id == selManager.id">
                  <td class="text-right">{{item.No}}</td>
                  <td class="text-left">{{item.name}}</td>
                  <td class="text-left">{{item.email}}</td>
                  <td class="text-left">{{item.userType}}</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="5">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                  </td>
              </tr>
          </tfoot>
      </table>
  
      <toaster-container [toasterconfig]="config"></toaster-container>
  </div>
</modal-body>

<modal-footer>
  <button class="btn btn-success" (click)="onConfirmManager()">OK</button>
  <button class="btn btn-danger" (click)="onCancelManager()">Cancel</button>
</modal-footer>
</modal>

<modal #addTechDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <modal-header>
      <h3>Add Technician</h3>
  </modal-header>

  <modal-body style="text-align:center;">
  <div class="control-caption">Tech Manager List</div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{techList?.length}}</strong> technicians</div>
              Technician List
          </div>
          <table class="table table-striped" [mfData]="techList" #mfDataTech="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                  <tr>
                      <th style="width: 5%" class="text-right">No.</th>
                      <th style="width: 10%">Name</th>
                      <th style="width: 10%">Email</th>
                      <th style="width: 10%">User Type</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-right"></td>
                      <td><input class="form-control" [(ngModel)]="searchOptTech.name" (input)="onChangeValueTech('name',searchOptTech.name)"></td>
                      <td><input class="form-control" [(ngModel)]="searchOptTech.email" (input)="onChangeValueTech('email',searchOptTech.email)"></td>
                      <td></td>
                  </tr>
                  <tr class="line-hover" *ngFor="let i of mfDataTech.data; let idx=index;" (click)="onSelectTech(i)"
                      [class.selected]="i.id == seltech.id">
                      <td class="text-right">{{i.No}}</td>
                      <td class="text-left">{{i.name}}</td>
                      <td class="text-left">{{i.email}}</td>
                      <td class="text-left">{{i.userType}}</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="5">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                  </tr>
              </tfoot>
          </table>
      
          <toaster-container [toasterconfig]="config"></toaster-container>
      </div>
  </modal-body>

  <modal-footer>
      <button class="btn btn-success" (click)="onConfirmTech()">OK</button>
      <button class="btn btn-danger" (click)="onCancelTech()">Cancel</button>
  </modal-footer>
</modal>

<modal #confirmDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
<modal-body style="text-align:center;">
  Do you really delete it?
</modal-body>
<modal-footer>
  <button class="btn btn-success" (click)="onConfirmDelete()">OK</button>
  <button class="btn btn-danger" (click)="onCancelDelete()">Cancel</button>
</modal-footer>
</modal> -->


<div class="content-heading">
    <button class="btn btn-success" style="float: right;" (click)="onCreateGroup()">Add</button>

    Group
    <!-- <small>{{ 'dashboard.WELCOME' | translate }} !</small> -->
</div>
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{groupList?.length}}</strong> groups</div>
        Group List
    </div>
    <table class="table table-striped" [mfData]="groupList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
                <th style="width: 5%" class="text-right">
                    <mfDefaultSorter by="No">No.</mfDefaultSorter>
                </th>
                <th class="text-left">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>            
            <tr class="line-hover" *ngFor="let item of mf.data; let idx=index;"  (click)="onMembers($event, item)">
                <td class="text-right"><span class="del-icon fa fa-trash" (click)="onDeleteGroup($event, item)" title="Delete Customer"></span></td>
                <td class="text-right"><span class="edit-icon fa fa-edit" (click)="onEditGroup($event, item)" title="Edit Customer"></span></td>
                <td class="text-right"><span class="edit-icon fa fa-users" (click)="onMembers($event, item)" title="Group Members"></span></td>
                <td class="text-right">{{item.No}}</td>
                <td>{{item.group_name}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <toaster-container [toasterconfig]="config"></toaster-container>

</div>

<modal #confirmDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <modal-body style="text-align:center;">
        Do you really delete it?
    </modal-body>
    <modal-footer>
        <button class="btn btn-success" (click)="onConfirmDelete()">OK</button>
        <button class="btn btn-danger" (click)="onCancelDelete()">Cancel</button>
    </modal-footer>
</modal>

<modal #groupDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <modal-header>
        <h3 style="margin-top: 20px;">{{actionType == 0 ? 'Add Group' : 'Update Group'}}</h3>
    </modal-header>
    <modal-body style="text-align:center;">
        <div class="control-caption">Name  
            <div style="display: inline-block; width: 100%;" style="margin-left: 15px; margin-right: 15px;">
                <input class="form-control" style="width: 100%" type="text" placeholder="Name" [(ngModel)]="groupInfo.Name">
            </div>
        </div>

    </modal-body>

    <modal-footer>
        <button class="btn btn-success" (click)="onConfirmAdd()">OK</button>
        <button class="btn btn-danger" (click)="onCancelAdd()">Cancel</button>
    </modal-footer>
</modal>