<div class="row">
  <div class="col-md-12">
    <div class="card customTableHeaderTop">
      <div
        class="card-header customTableHeader d-flex justify-content-between p-0"
      >
        <label class="p-10 m-0 customTableTitleLeft">
          Equipment
        </label>
      </div>
      <div class="table-container card-body">
        <div class="row">
          <div class="col-md-4">
            <div
              class="card sub-category"
              [routerLink]="'/customer/view/' + customerId"
              title="Views"
            >
              <h3>View</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
