.card_div{
    justify-content: center;
}

.custom_button{
    margin: 20px;
}
.control-caption {
    padding: 5px;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
}
.custom-size{
    font-size: 17px;
}
.header{
    background-color:#5d9cec;
    color: white;
}
.custom_col{
    margin: auto;
}
.row{
    justify-content: center;
    button{
        margin: 20px;
    }
}