.control-caption {
  padding: 5px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  margin: 0px !important;
  text-align: center;
  font-weight: bold;
}

.card-header {
  font-size: 17px;
  font-weight: bold;
}

a {
  color: #00C5FB;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.back-fab-custom-button {
  position: absolute;
  right: 20px;
}
