<div class="card">
  <div class="card-header">
    Invoice # <strong>#90-98792</strong>
      <!-- <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a> -->
      <a href="#" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
      <!-- <a href="#" class="btn btn-sm btn-info float-right mr-1 d-print-none"><i class="fa fa-save"></i> Save</a> -->
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-sm-4">
          <h6 class="mb-3">From:</h6>
          <div><strong> The Dasol Group,</strong></div>
          <div>dba Blue Clerk Software</div>
          <div>821 Grand Avenue Parkway</div>
          <div>Suite 400</div>
          <div>Pflugerville, Texas 78660</div>
      </div><!--/.col-->

      <div class="col-sm-4">
          <h6 class="mb-3">To:</h6>
          <div><strong>Test</strong></div>
          <div>Konopnickiej 42</div>
          <div>43-190 Mikolow, Poland</div>
          <div>Email: lukasz@bootstrapmaster.com</div>
          <div>Phone: +48 123 456 789</div>
      </div><!--/.col-->

      <div class="col-sm-4">
          <h6 class="mb-3">Details:</h6>
          
          <div>Date :<strong> March 30, 2013</strong></div>
          <div>Card Used : <strong> XXXX</strong></div>
      </div><!--/.col-->

    </div><!--/.row-->

    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%;text-align: center;" >Item </th>
                <th style="width: 15%; text-align: center;" >Cost </th>
                <th style="width: 15%; text-align: center;" >Sales Tax</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center">Blue Tag</td>
                <td style="text-align: center">$2000.00</td>
                <td style="text-align: center">$1000.00</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row mb-12">
      <div class="col-sm-12">
        <div class="col-lg-4 offset-lg-8 offset-sm-2">
            <table class="table table-clear">
              <tbody>
                <tr></tr>
                  <tr>
                      <td class="left" style="text-align: center;"><strong>Total</strong></td>
                      <td class="right"><strong>$3000.00</strong></td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div> 
    </div>
  <footer>
    <div    style=" padding: 10px;float: right;color: #5d9cec;">
      Thank you for your business. If you have any questions or concerns about this, please contact us.
    </div>
  </footer>
</div>
