.job-status {
    border: 2px solid;
    padding: 2px;
    border-radius: 2px;
}

.line-hover {
    cursor: pointer;
}

.line-hover:hover {
    background: #fdffe0;
}

.control-caption {
    padding: 5px;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
}
.custom-size{
    font-size: 17px;
}
table{
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
}
modal{
    h2{
        margin-top: 20px;
    }
}
.model_div{
    display: inline-block; 
    width: 100%; 
    text-align: left;
    div{
        width: 100%; 
        text-align: left;
    }
    img{
        min-height: 100px; 
        max-height: 100px; 
        min-width: 100px; 
        max-width: 300px; 
        border: 1px solid #CCC;
    }
}
.custom-search{
    // width: 30%;    
    background: none !important;
    border: none !important;
    input{
        text-align: center;height: 45px;
    }
}
.customerName{
    width: 25%;
    margin-left: 20px;
    font-size: 17px;
}
.viewButton{
    float: right;
}

.view-more-show{
    margin-right: 0!important;
}

.custom-sidebar{
    display: none !important;
}
.custom_close{
    display: block !important;
}