<div class="content-heading">
    <button class="btn btn-success" style="float: right;" (click)="onCreateBrand()">Add</button>
    Brand
    <!-- <small>{{ 'dashboard.WELCOME' | translate }} !</small> -->
</div>
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right text-muted"><em class="fa fa-user mr-sm"></em><strong>{{brandList?.length}}</strong> brands</div>
       Assign Brand List
    </div>
    <table class="table table-striped" [mfData]="brandList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
                <th style="width: 5%" class="text-right">
                    <mfDefaultSorter by="No">No.</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="name">Brand</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 5%"></td>
                <td style="width: 5%"></td>
                <td style="width: 5%"></td>
                <td style="width: 20%"><input class="form-control" [(ngModel)]="searchOpt.brand" (input)="onChangeValue('brand',searchOpt.brand)"></td>
                <td></td>
            </tr>

            <tr class="line-hover" *ngFor="let item of mf.data; let idx=index;">
                <td class="text-right"><span class="del-icon fa fa-trash" (click)="onDeleteBrand(item)" title="Delete Brand"></span></td>
                <td class="text-right"><span class="edit-icon fa fa-edit" (click)="onEditBrand(item)" title="Edit Brand"></span></td>
                <td class="text-right">{{item.No}}</td>
                <td>{{item.name}}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <toaster-container [toasterconfig]="config"></toaster-container>

</div>

<modal #confirmDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <modal-header class="modelHeader">
                <h4>Delete Brand</h4>
        </modal-header>
    <modal-body style="text-align:center;padding: 15px;">
        Are you sure you want to delete brand?
    </modal-body>
    <modal-footer>
        <button class="btn btn-success" (click)="onConfirmDelete()">OK</button>
        <button class="btn btn-danger" (click)="onCancelDelete()">Cancel</button>
    </modal-footer>
</modal>

<modal #brandDlg data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <modal-header class="modelHeader">         
            <div class="modal-header" class="text-center">
                <h2 style="margin-top: 20px;">{{actionType == 0 ? 'Add Brand' : 'Update Brand'}}</h2>
            </div>
    </modal-header>

    <modal-body style="text-align:center;">
        <div class="control-caption">Brand Name <span style="color:red">*</span></div>
        <input class="form-control" style="width: 100%" type="text"   [(ngModel)]="name" (keyup)="addBrand($event)" list="dynmicUserIds" id="autocomplete">
        <datalist id="dynmicUserIds">
            <option *ngFor="let k of brandList">  {{k.name}} </option>
         </datalist>
        <span class="valmsg">*Field Required</span>
    </modal-body>
    <modal-footer>
        <button class="btn btn-success" (click)="onConfirmBrand()">OK</button>
        <button class="btn btn-danger" (click)="onCancelBrand()">Cancel</button>
    </modal-footer>
</modal>