
  
  .table {
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }
    span {
      font-size: 20px;
      color: brown;
    }
  }
  
  .custom-text-color {
    color: #5f5f5f;
    font-weight: 600;
  }
  .customLink{
    text-decoration: underline!important;
    color: #5d9cec!important;
    cursor: pointer;
  }
  .custom-pointer {
    cursor: pointer;
  }
  .equipmentImage{
    img{
      width: 40px;
      border-radius: 50%;
      height: 40px;
    }
  }