<div layout="row" flex style="display:flex ;justify-content: center">
  <div class="card" style="width: 18rem;margin:20px"  >
  <div class="card-header" style="font-size: 16px;font-weight: bold;">Profile</div>
      <div class="card-body">
        <!-- <h5 class="card-title">Profile</h5> -->
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="/profile" class="card-link">Edit Profile</a>

      </div>
  </div>
</div>
