<div class="card custom-size">
    <div class="card-header">
        Work report <strong>#90-98792</strong>
        <!-- <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a> -->
        <a href="#" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
        <a href="#" class="btn btn-sm btn-info float-right mr-1 d-print-none"><i class="fa fa-save"></i> Save</a>
    </div>
    <div class="card-body ">
        <div class="row mb-4">
            <div class="col-sm-4">
                <h6 class="mb-3">From:</h6>
                <div><strong>Lorem Ltd</strong></div>
                <div>Konopnickiej 42</div>
                <div>43-190 Mikolow, Poland</div>
                <div>Email: lukasz@bootstrapmaster.com</div>
                <div>Phone: +48 123 456 789</div>
            </div><!--/.col-->

            <div class="col-sm-4">
                <h6 class="mb-3">To:</h6>
                <div><strong>Test</strong></div>
                <div>Konopnickiej 42</div>
                <div>43-190 Mikolow, Poland</div>
                <div>Email: lukasz@bootstrapmaster.com</div>
                <div>Phone: +48 123 456 789</div>
            </div><!--/.col-->

            <div class="col-sm-4">
                <h6 class="mb-3">Details:</h6>
                <div>Job Type  <strong>maintenance</strong></div>
                <div>Date <strong>March 30, 2013</strong></div>
                <div>Technician <strong>tester</strong></div>
            </div><!--/.col-->

        </div><!--/.row-->

        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        <th>Unit (equipment info) </th>
                        <th>Completed (Y/N )</th>
                        <th class="center">Note</th>
                        <th class="right">Technician name</th>
                        <th class="right">Date</th>
                        <th class="right">Time of scan</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">1</td>
                        <td class="left">Test</td>
                        <td class="left">Y</td>
                        <td class="center">Tested</td>
                        <td class="right">Tester</td>
                        <td class="right">June 19, 2019</td>
                        <td class="right">5:00 AM</td>
                    </tr>
                    <tr>
                        <td class="center">1</td>
                        <td class="left">Tester</td>
                        <td class="left">N</td>
                        <td class="center">Tested</td>
                        <td class="right">Tester</td>
                        <td class="right">August 1, 2019</td>
                        <td class="right">3:00 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    